services:
  playmebot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: playmebot
    restart: unless-stopped
    ports:
      - "${PORT}:${PORT}"
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
      - MINI_APP_LINK=${MINI_APP_LINK}
      - PORT=${PORT}
      - WEBHOOK_PATH=${WEBHOOK_PATH}
    env_file:
      - .env
    networks:
      - bot_network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  bot_network:
    driver: bridge

